* {
    margin: 0;
}



/* Header */
.header {
    background-color: #000;
    height: 70px;
    line-height: 70px;
}
.logo {
    float: left;
}

.menu {
    float: right;    
}
.menu a {
    color: #F4D03F;
    margin-right: 15px;
    font-family: 'Faster One', cursive;
    font-size: 20px;
    text-decoration: none;
}
.menu a:hover {
    color: #FFEE58;
}

/* Home */

/* Créateurs */

/* Personnages */