* {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0;
}



/* Header */
.header {
    background-color: #000;
    height: 70px;
    line-height: 70px;
}
.logo {
    float: left;
    max-width: 10%;
    height: auto;
    margin-top: 10px;
}
.menu {
    float: right;    
}
.menu a {
    color: #F4D03F;
    margin-right: 15px;
    font-family: 'Faster One', cursive;
    font-size: 25px;
    text-decoration: none;
}
.menu a:hover {
    color: #FFEE58;
}



/* Home */
.inner-ban {
    height: 1050px;
    margin: -30px;
    padding: 0;
    text-align: center;
    background-image: url(../images/fond/fond_home_clair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-ban img {
    height: 30%;
    position: absolute;
    margin-top: 150px;
    margin-left: auto;
    text-shadow: 2px 2px 20px #fff;
}
.inner-ban h1 {
    font-size: 70px;
    font-family: 'Bangers', cursive;
    color: #fff;
    text-shadow: #000 3px 3px;
    padding-top: 600px;
    line-height: 80px;
    letter-spacing: 2px;
   
}
.inner-ban .btn-custom {
    background-color: #F4D03F;
    color: #000;
    font-family: 'Bangers', cursive;
    font-weight: bold;
    margin-top: 10px;
    height: 60px;
    width: 100px;
}
.inner-ban .btn-custom:hover {
    background-color: #47FF14;
}



/* Créateurs */
.origine {
    height: 800px;
    margin-top: 50px;
    margin: -50px;
    background-color: antiquewhite;
    background-image: url(../images/fond/fond_logo.png);
    background-size: cover;
    background-position: center;
}
.origine img {
    height: 70%;
    margin-top: 90px;
    box-shadow: 3px 3px 7px #00962F;
    border: 2px solid #001B96;
}
article h2 {
    padding-top: 140px;
    margin-left: 45px;
    text-align: center;
    font-size: 60px;
    color: #001B96;
    font-family: 'Bangers', cursive;
    text-shadow: #F4D03F 3px 3px;
    letter-spacing: 2px;
}
article p {
    padding-top: 40px;
    margin-left: 45px;
    text-align: justify;
    font-size: 16px;
}



/* Personnages */
.heros {
    height: 550px;
    background-color: #000;
}
.heros h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 60px;
    font-family: 'Bangers', cursive;
    color: #F4D03F;
    text-shadow: #B80006 3px 3px;
    letter-spacing: 2px;
}
.heros article p {
    text-align: right;
    color: #000;
    padding-top: 240px;
}
.btn-custom {
    text-align: center;
    padding-top: 10px;
    height: 40px;
    width: 90px;
}
.btn-custom2 {
    text-align: center;
    padding-top: 10px;
    height: 40px;
    width: 150px;
}
.heros .btn {
    color: #000;
    background-color: rgba(255, 255, 255, 0.75);
}
.heros .btn:hover {
    background-color: #47FF14;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.heros .item-iron {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 95px;
    background-color: #F4D03F;
    height: 300px;
    background-image: url(../images/ironman/ironman_PNG68.png);
    background-size: cover;
}
.heros .item-iron:hover {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 80px;
    background-color: #9D1712;
    height: 300px;
    background-image: url(../images/ironman/ironman_3.png);
    background-size: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.heros .item-spider {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 80px;
    background-color: #B80006;
    height: 300px;
    background-image: url(../images/spiderman/spider_man_PNG11.png);
    background-size: cover;
}
.heros .item-spider:hover {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 95px;
    background-color: #2E49BA;
    height: 300px;
    background-image: url(../images/spiderman/spider_man_PNG45.png);
    background-size: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.heros .item-captain {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 95px;
    background-color: #001B96;
    height: 300px;
    background-image: url(../images/captain/captain_america_PNG28.png);
    background-size: cover;
}
.heros .item-captain:hover {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 80px;
    background-color: #BAC0CC;
    height: 300px;
    background-image: url(../images/captain/Captain_America_1.png);
    background-size: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.heros .item-hulk {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 80px;
    background-color: #00962F;
    height: 300px;
    background-image: url(../images/hulk/Hulk.png);
    background-size: cover;
}
.heros .item-hulk:hover {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 95px;
    background-color: #09371C;
    height: 300px;
    background-image: url(../images/hulk/hulk2.png);
    background-size: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}



/* Contact */
.letter {
    margin-top: 20px;
    padding-bottom: 30px;
    background-color: #A7CF71;
}
.letter h2 {
    text-align: center;
    color: #001B96;
    font-size: 60px;
    font-family: 'Bangers', cursive;
    text-shadow: #B80006 3px 3px;
    letter-spacing: 2px;
    padding-top: 15px;
}

.letter p {
    padding-top: 35px;
    font-size: 20px;
    text-align: center;
}
.form-inline {
    text-align: center;
}


/* Footer */
.linear-gradient {
  background: linear-gradient(#A7CF71, #000);
  text-align: center;
  color: #fff;
  font-family: 'Noto Serif', serif;
  padding-top: 5px;
  padding-bottom: 15px;

}
.scroll-top {
    text-align: center;
}
.scroll-top a i:hover {
    color: #47FF14;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}
.github {
    text-align: center;
}
.github a i:hover {
    color: #47FF14;
}
.github a i {
    color: #fff;
    font-size: 25px;
}
.linear-gradient {
    padding-top:20px;
}


