* {
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0;
}


/* Header */
.header {
    background-color: #000;
    height: 70px;
    line-height: 70px;
}
.logo {
    float: left;
    max-width: 10%;
    height: auto;
    margin-top: 15px;
}

.menu {
    float: right;    
}
.menu a {
    color: #F4D03F;
    margin-right: 15px;
    font-family: 'Faster One', cursive;
    font-size: 25px;
    text-decoration: none;
}
.menu a:hover {
    color: #FFEE58;
}

/* Home */

.inner-ban {
    height: 950px;
    margin: -30px;
    padding: 0;
    text-align: center;
    background-image: url(../images/fond/fond2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-ban img {
    height: 30%;
    position: absolute;
    margin: 150px 180px;
    text-shadow: 2px 2px 20px #fff;
}
.inner-ban h1 {
    font-size: 70px;
    font-family: 'Bangers', cursive;
    color: #fff;
    text-shadow: #000 3px 3px;
    padding-top: 600px;
    line-height: 80px;
    letter-spacing: 2px;
   
}
.inner-ban .btn-custom {
    background-color: #F4D03F;
    color: #000;
    font-family: 'Bangers', cursive;
    font-weight: bold;
    margin-top: 10px;
    height: 60px;
    width: 100px;
}
.inner-ban .btn-custom:hover {
    background-color: #47FF14;
}

/* Créateurs */

/* Personnages */